<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solicitud</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleError.css}" />
</head>

<body>
<div id="notfound">
    <div class="notfound">
<!--        <div class="col-md-8" >-->
<!--            <img src="https://assismex.com/images/logo-assismex-white.svg" alt="Prosesol.org" style="position:relative;left:5px;" >-->
<!--        </div>-->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="https://assismex.com/">
                <img src="https://assismex.com/images/logo-assismex-white.svg" width="350" height="350">
            </a>
        </nav>
        <div class="super-container">
            <div class="container-fluid">
                <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="info_1">
                    <h1 class="h1-responsive">Su solicitud ha sido rechazada</h1>
                  </div>  
                    <div class="info_2">
                    <h1 class="h1-responsive">Para más información, comuníquese al número 99999999</h1>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
