<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="container" style="background-color: #C1D6F0;border-radius: 10px;border: 2px solid green;">
	<br><br>
		<div class="tituloAfiliado">
			<h1>Bienvenido
				Afiliado</h1>
			<h3 th:each="afiliados : ${afiliado}" th:text=" ${afiliados.nombre}"></h3>
		</div>
		<!-- <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div> -->
		<br>
	<div class="subtituloAfiliado">
		<div class="row"  th:each="afiliados : ${afiliado}" >

			<div class="col-sm-4" >
				<span>Apellidos</span>
				<h5 class="resultados"
					th:text="${afiliados.apellidoPaterno}+' '+ ${afiliados.apellidoMaterno}"></h5>

			</div>
			<div class="col-sm-4" >
				<span>Fecha de nacimiento</span>
				<h5 class="resultados" th:text="${afiliados.fechaNacimiento}"></h5>
				
			</div>
			<div class="col-sm-4" >
				<span>Lugar de nacimiento</span>
				<h5 class="resultados" th:text="${afiliados.lugarNacimiento}"></h5>

			</div>

			<div class="col-sm-4">
				<span>Estado civil</span>
				<h5 class="resultados" th:text="${afiliados.estadoCivil}"></h5>
				
			</div>
			<div class="col-sm-4">
				<span>Ocupación</span>
				<h5 class="resultados" th:text="${afiliados.ocupacion}"></h5>

			</div>
			<div class="col-sm-4">
				<span>Sexo</span>
				<h5 class="resultados" th:text="${afiliados.sexo}"></h5>
			</div>

			<div class="col-sm-4">
				<span>País</span>
				<h5 class="resultados" th:text="${afiliados.pais}"></h5>
				
			</div>
			<div class="col-sm-4">
				<span>Curp</span>
				<h5 class="resultados" th:text="${afiliados.curp}"></h5>
			</div>
			
			<div class="col-sm-4">
				<span>Nss</span>
				<h5 class="resultados" th:text="${afiliados.nss}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Rfc</span>
				<h5 class="resultados" th:text="${afiliados.rfc}"></h5>
				
			</div>

			<div class="col-sm-4">
				<span>Tel.fijo</span>
				<h5 class="resultados" th:text="${afiliados.telefonoFijo}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Tel.movil</span>
				<h5 class="resultados" th:text="${afiliados.telefonoMovil}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Email</span>
				<h5 class="resultados" th:text="${afiliados.email}"></h5>
				
			</div>
			<div class="col-sm-4">
				<span>Dirección</span>
				<h5 class="resultados" th:text="${afiliados.direccion}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Municipio</span>
				<h5 class="resultados" th:text="${afiliados.municipio}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Entidad federativa</span>
				<h5 class="resultados" th:text="${afiliados.entidadFederativa}"></h5>
				
			</div>
			<div class="col-sm-4">
				<span>Código postal</span>
				<h5 class="resultados" th:text="${afiliados.codigoPostal}"></h5>
			</div>
			<div class="col-sm-4">
				<span>Numero infonavit</span>
				<h5 class="resultados" th:text="${afiliados.numeroInfonavit}"></h5>
			</div>
			<div class="col-sm-4" th:switch="${afiliados.servicio.id}">
				<span>Servicio</span>
				<h5 class="resultados" th:case="4">Servicio de prueba</h5>
				<h5 class="resultados" th:case="6">Nuevo servicio de prueba</h5>
				<h5 class="resultados" th:case="7">Servicio de prueba sin beneficios</h5>
				<h5 class="resultados" th:case="8">Servicios nuevo</h5>
				<h5 class="resultados" th:case="9">Servicio sin beneficios</h5>
				<h5 class="resultados" th:case="10">Nuevo servicio de prueba con modificaciones</h5>
				<h5 class="resultados" th:case="11">Servicio sin beneficios</h5>


			</div>
			<div class="col-sm-4">
				<span>Saldo acumulado</span>
				<h5 class="resultados" th:text="${costoAfiliado}"></h5>
			</div>
		</div>
		</div>
		<hr>
		<div th:if="${!beneficiarios.isEmpty()}">
			<div class="tituloBeneficiario">
				<h1>Beneficiarios</h1>

			</div>
			<table class="table  text-center">

				<thead style="background-color: #C6E0C6">
					<tr>

						<th><Span class="subtituloBeneficiario">Nombre</span></th>
						<th><span class="subtituloBeneficiario">Apellidos</span></th>
						<th><span class="subtituloBeneficiario">Saldo acumulado</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="afiliado : ${beneficiarios}">

						<td>
							<h5 class="resultados" th:text="${afiliado.nombre}"></h5>
						</td>
						<td>
							<h5 class="resultados"
								th:text="${afiliado.apellidoPaterno}+' '+${afiliado.apellidoMaterno}"></h5>
						</td>
						<td>
							<h5 class="resultados" th:text="${costoBeneficiario}"></h5>
						</td>
					</tr>
				</tbody>

			</table>
		<hr>
		</div>
		<a th:href="@{/afiliados/guardar/}+${id}"
			class="btn btn-primary btn-square float-right">guardar</a> <br>
		<br>
	</div>
</body>
</html>