
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Bienvenido</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/cssBienvenido/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/cssbienvenido/style.css}">

</head>
<body>
	<!--data-spy="scroll" data-target=".navbar-collapse" data-offset="50" style="background-color:#f4f6f7"-->

	<!-- work section -->
	<!--<section id="work" >-->
	<div 
		th:each="afiliados : ${afiliado}">

		
			<div class="section-title" style="text-align:center;">
				<strong style="color: #313CAB;">Afiliado</strong>
				<hr>
			</div>
		

		<table class="table table-striped  text-center "
			th:each="afiliado : ${afiliados}">
			<thead>
				<tr>

					<th style="text-align: center;">Nombre</th>
					<th style="text-align: center;">Apellido paterno</th>
					<th style="text-align: center;">Apellido materno</th>
					<th style="text-align: center;">Fecha de nacimiento</th>
					<th style="text-align: center;">Lugar de nacimiento</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h5 th:text="${afiliado.nombre}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.apellidoPaterno}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.apellidoMaterno}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.fechaNacimiento}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.lugarNacimiento}"></h5>
					</td>
				</tr>

			</tbody>
			<thead>
				<tr>
					<th style="text-align: center;">Estado civil</th>
					<th style="text-align: center;">Ocupación</th>
					<th style="text-align: center;">Sexo</th>
					<th style="text-align: center;">País</th>
					<th style="text-align: center;">Curp</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h5 th:text="${afiliado.estadoCivil}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.ocupacion}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.sexo}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.pais}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.curp}"></h5>
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th style="text-align: center;">Nss</th>
					<th style="text-align: center;">Rfc</th>
					<th style="text-align: center;">Tel.fijo</th>
					<th style="text-align: center;">Tel.movil</th>
					<th style="text-align: center;">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h5 th:text="${afiliados.nss}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.rfc}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.telefonoFijo}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.telefonoMovil}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.email}"></h5>
					</td>
				</tr>

			</tbody>
			<thead>
				<tr>
					<th style="text-align: center;">Dirección</th>
					<th style="text-align: center;">Municipio</th>
					<th style="text-align: center;">Entidad federativa</th>
					<th style="text-align: center;">Código postal</th>
					<th style="text-align: center;">Numero infonavit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h5 th:text="${afiliado.direccion}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.municipio}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.entidadFederativa}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.codigoPostal}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.numeroInfonavit}"></h5>
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					
					<th style="text-align: center;">Servicio</th>
					<th style="text-align: center;">Saldo acumulado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:each="servicio : ${servicios}" th:if="${servicio.id}==${afiliado.servicio.id}">
						<p th:text="${servicio.nombre}">Servicio de prueba</p>
					</td>
					<td>
						<h5 th:text="${costoAfiliado}"></h5>
					</td>

				</tr>

			</tbody>
		</table>

</div>


	<div 
		style="text-align: center;"
		th:if="${!beneficiarios.isEmpty()}">
		
			<div class="section-title">
				<br> <strong style="color: #313CAB;">Beneficiarios</strong>
				<hr>
			</div>
		
		<table class="table table-striped  text-center info">
			<thead>
				<tr>

					<th style="text-align: center;">Nombre</th>
					<th style="text-align: center;">Apellido paterno</th>
					<th style="text-align: center;">Apellido materno</th>
					<th style="text-align: center;">Rfc</th>
					<th style="text-align: center;">Saldo acumulado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="afiliado : ${beneficiarios}">

					<td>
						<h5 th:text="${afiliado.nombre}"></h5>
					</td>
					<td>
						<h5
							th:text="${afiliado.apellidoPaterno}"></h5>
					</td>
					<td>
						<h5
							th:text="${afiliado.apellidoMaterno}"></h5>
					</td>
					<td>
						<h5 th:text="${afiliado.rfc}"></h5>
					</td>
					<td>
						<h5 th:text="${costoBeneficiario}"></h5>
					</td>
				</tr>
			</tbody>

		</table>
		
	</div>

	<!-- footer section -->
	<a style="position:relative; right:30px;"
			th:href="@{/afiliados/guardar/}+${id}"
			class="btn btn-primary  float-right" >Guardar</a>
		<br> <br> 
	
		
	

	
</body>
</html>