<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<meta charset="utf-8" />
<body>
	<div class="col-sm-7" id="postResultDiv"></div>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<!--  	<div th:replace="fragments/header :: header"></div>-->
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<!--  	<div th:replace="fragments/sidebar :: sidebar"></div> -->

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="alert alert-danger" th:if="${error!= null}"
						th:text="${error}"></div>
					<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="row ">
						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Crear Afiliado</h5>

								<div class="clearfix"></div>
								<hr>

								<!--th:action="@{/afiliados/crear/}"-->
								<form class="formInput" name="formu" id="formu"
									 method="post" th:object="${afiliado}"
									>
									<div class="row">
										<div class="form-group col-md-3">
											<label>Nombre</label> <input type="text" th:field="*{nombre}"
												id="nombre" name="nombre"
												class="form-control form-control-user"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
											<div id="nombreVacio" style="display: none; color: red;">El campo nombre no debe quedar vacío
												</div>	
											<div id="validaNombre" style="display: none; color: red;">Campo
												obligatorio</div>
										</div>


										<div class="form-group col-md-3">
											<label>Apellido Paterno</label> <input type="text"
												th:field="*{apellidoPaterno}" id="apellidoPaterno"
												name="apellidoPaterno"
												class="form-control form-control-user"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('apellidoPaterno')}"
												th:errors="*{apellidoPaterno}"></small>
											<div id="apellPaterVacio" style="display: none; color: red;">El campo apellido Paterno no debe quedar vacío
												</div>		
											<div id="validaApellidoPaterno"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>

										<div class="form-group col-md-3">
											<label>Apellido Materno</label> <input
												th:field="*{apellidoMaterno}" type="text"
												id="apellidoMaterno" name="ApellidoMaterno"
												class="form-control form-control-user"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('apellidoMaterno')}"
												th:errors="*{apellidoMaterno}"></small>
											<div id="apellMaterVacio" style="display: none; color: red;">El campo apellido materno no debe quedar vacío
												</div>		
											<div id="validaApellidoMaterno"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>

										<div class="form-group col-md-3">
											<label>Fecha de Nacimiento</label> <input
												th:field="*{fechaNacimiento}" type="text"
												id="fechaNacimiento" name="fechaNacimiento"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('fechaNacimiento')}"
												th:errors="*{fechaNacimiento}"></small>
											<div id="fechaNacVacio" style="display: none; color: red;">El campo fecha nacimiento no debe quedar vacío
												</div>		
											<div id="validaFechaNacimiento"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>

										<div class="form-group col-md-3">
											<label>Lugar de Nacimiento</label> <input type="text"
												th:field="*{lugarNacimiento}" id="lugarNacimiento"
												name="lugarNacimiento"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('lugarNacimiento')}"
												th:errors="*{lugarNacimiento}"></small>
										</div>


										<div class="form-group col-md-3">
											<label>Estado Civil</label> <select th:field="*{estadoCivil}"
												id="estadoCivil" name="estadoCivil" class="custom-select">
												<option th:value="'Soltero'" th:selected>Soltero(a)</option>
												<option th:value="'Casado'">Casado(a)</option>
												<option th:value="'Viudo'">Viudo(a)</option>
												<option th:value="'Divorciado'">Divorciado(a)</option>
												<option th:value="'Desconocido'">Desconocido</option>
											</select><small class="form-text text-danger"
												th:if="${#fields.hasErrors('estadoCivil')}"
												th:errors="*{estadoCivil}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Ocupación</label><input type="text"
												th:field="*{ocupacion}" id="ocupacion" name="ocupacion"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('ocupacion')}"
												th:errors="*{ocupacion}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Sexo</label> <select th:field="*{sexo}" id="sexo"
												name="sexo" class="custom-select">
												<option th:value="'Masculino'" th:selected>Masculino</option>
												<option th:value="'Femenino'">Femenino</option>
											</select><small class="form-text text-danger"
												th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>País</label> <select th:field="*{pais}" id="pais"
												name="pais" class="custom-select">
												<option th:each="pais : ${paises}" th:value="${pais}"
													th:text="${pais}" />
											</select> <small class="form-text text-danger"
												th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Curp</label><input type="text" th:field="*{curp}"
												id="curp" name="curp"
												class="form-control form-control-user curpText"><small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('curp')}" th:errors="*{curp}"
												id="smallCurp"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Número de seguridad social</label><input type="text"
												th:field="*{nss}" id="nss" name="nss"
												class="form-control form-control-user nssText"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('nss')}" th:errors="*{nss}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>RFC</label><input type="text" th:field="*{rfc}"
												id="rfc" name="rfc"
												class="form-control form-control-user rfcText"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('rfc')}" th:errors="*{rfc}"></small>
											<div id="rfcVacio" style="display: none; color: red;">El campo rfc no debe quedar vacío
												</div>	
											<p>¿No cuentas con tu RFC?</p>
											<input type="button" id="bot" name="bot"
												value="Genéralo aquí" onclick="generar()">
											

										</div>

										<div class="form-group col-md-3">
											<label>Teléfono Fijo</label><input type="text"
												th:field="*{telefonoFijo}"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('telefonoFijo')}"
												th:errors="*{telefonoFijo}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Teléfono móvil</label><input type="text"
												th:field="*{telefonoMovil}"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('telefonoMovil')}"
												th:errors="*{telefonoMovil}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Correo electrónico</label><input type="email"
												th:field="*{email}" class="form-control form-control-user"
												placeholder=""> <small class="form-text text-danger"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Dirección</label><input type="text"
												th:field="*{direccion}"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('direccion')}"
												th:errors="*{direccion}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Municipio</label><input type="text"
												th:field="*{municipio}"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('municipio')}"
												th:errors="*{municipio}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Entidad Federativa</label> <select
												name="entidadFederativa" th:field="*{entidadFederativa}"
												class="custom-select" id="inputGroupSelect01">
												<option th:each="estado : ${estados}" th:value="${estado}"
													th:text="${estado}" th:selected="false" />
											</select><small class="form-text text-danger"
												th:if="${#fields.hasErrors('entidadFederativa')}"
												th:errors="*{entidadFederativa}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>Código Postal</label><input type="text"
												th:field="*{codigoPostal}"
												class="form-control form-control-user" placeholder="">
											<small class="form-text text-danger"
												th:if="${#fields.hasErrors('codigoPostal')}"
												th:errors="*{codigoPostal}"></small>
										</div>

										<div class="form-group col-md-3">
											<label>¿Cuénta con crédito Infonavit?</label> <input
												type="checkbox" id="infonavitCB" /> <span class="cr"><i
												class="cr-icon glyphicon glyphicon-ok"></i></span>
										</div>

										<div class="form-group col-md-3">
											<label>Número de Infonavit</label><input type="text"
												th:field="*{numeroInfonavit}"
												class="form-control form-control-user"
												id="inputNumeroInfonavit"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('numeroInfonavit')}"
												th:errors="*{numeroInfonavit}"></small>
										</div>

								  		<div class="form-group col-md-3" >
											<label>Servicio</label>
											<input type="text"
												   th:value="${servicio.nombre}"
												   class="form-control form-control-user"
												   disabled>

											<input type="hidden"
												   th:field="*{servicio}"
												   th:value="${servicio.id}"
												   class="form-control form-control-user">
										</div>
									</div>
									<hr>
									<div class="clearfix"></div>
									<div class="row">
										<div class="col-sm-12">
											<!--  <button type="submit" name="action" value="save"
												class="btn btn-primary btn-square float-right">Crear
												Afiliado</button>-->
												<button type="button" onclick="validaDatosAfiliado()"
												class="btn btn-primary btn-square float-right">Crear
												Afiliado</button>
												
										</div>
									</div>
								</form>

							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
 <script>
        $('#fechaNacimiento').datepicker({
            format: 'dd/mm/yyyy',
            language: "es-ES",
            autoHide: true
            
        });
        $('#nombre').on('input', function (e) {
            if (!/^[ a-záéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ a-záéíóúüñ]+/ig,"");
            }
        });
        $('#apellidoPaterno').on('input', function (e) {
            if (!/^[ a-záéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ a-záéíóúüñ]+/ig,"");
            }
        });
        $('#apellidoMaterno').on('input', function (e) {
            if (!/^[ a-záéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ a-záéíóúüñ]+/ig,"");
            }
        });
    </script>
</body>

</html>