<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body class="app flex-row align-items-center">
	
		<div class="container text-center">
		
			<div class="alert alert-danger" th:if="${error!= null}"
				th:text="${error}"></div>
			<div class="card-body bg-white appwork bg-boxshadow-2">
				<h5 class="card-title">Selecciona tu tipo de servicio</h5>
				
				<div class="clearfix"></div>
				<hr>
				<form class="formInput" name="formu" id="formu"
					th:action="@{/afiliados/crear}" th:object="${afiliado}"
					method="post">
					
						<div class="form-group col-md-3" style="position:relative;left: 400px;">
							<label>Servicio</label> <select name="servicio"
								th:field="*{servicio}" class="custom-select"
								id="inputGroupSelect01">
								<option value="">Ninguno</option >
								<option th:each="servicio : ${servicios}"
									th:value="${servicio.id}" th:text="${servicio.nombre}"
									th:selected="false" />
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}"></small>
						</div>
							<input type="submit" class="btn btn-primary btn-square float-right" value="Continuar">
							<br>
						</form>
					
			</div>
		</div>

	
</body>
</html>