<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<!--  	<div th:replace="fragments/header :: header"></div>-->
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<!--  	<div th:replace="fragments/sidebar :: sidebar"></div> -->

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
					<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="row ">
						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Crear Beneficiario</h5>

								<div class="clearfix"></div>
								<hr>

								<form class="formInput" name="form" id="form" 
									th:action="@{/beneficiarios/guardar}" th:object="${afiliado}"
									method="post" action="datosAfiliado">
									<div class="row">
										<div class="form-group col-md-3">
											<label>Nombre</label> <input type="text" th:field="*{nombre}"
												name="nombre" required
												class="form-control form-control-user">
												<div id="validaNombre" style="display: none; color: red;">Campo
												obligatorio</div>

										</div>

										<div class="form-group col-md-3">
											<label>Apellido Paterno</label> <input type="text"
												th:field="*{apellidoPaterno}" name="apellidoPaterno"
												required class="form-control form-control-user">
												<div id="validaApellidoPaterno"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>

										<div class="form-group col-md-3">
											<label>Apelido Materno</label> <input type="text"
												th:field="*{apellidoMaterno}" name="apellidoMaterno"
												required class="form-control form-control-user">
												<div id="validaApellidoMaterno"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>

										<div class="form-group col-md-3">
											<label>Fecha de Nacimiento</label> <input type="text"
												th:field="*{fechaNacimiento}" name="fechaNacimientos"
												required class="form-control form-control-user"
												id="fechaNacimiento" placeholder="">
												<div id="validaFechaNacimiento"
												style="display: none; color: red;">Campo obligatorio</div>
										</div>
										<div class="form-group col-md-3">
											<label>RFC</label><input type="text" th:field="*{rfc}" name="rfc" id="rfc"
											 maxlength="13"  class="form-control form-control-user rfcText">
											<p>¿No cuentas con tu RFC?</p>
											<input type="button" id="bot" name="bot"
												value="Genéralo aquí" onclick="generar()">
										</div>
										
									</div>

									<hr>
									<div Style="margin-left: 900px">
									<div class="clearfix">
										
										<button type="submit"
												class="btn btn-primary"
												name="action" value="save">Guardar</button>
										<button type="submit"
												class="btn btn-primary"
												name="action" value="saveCrear">Crear nuevo beneficiario</button>
										<a class="btn btn-danger"
											th:href="@{/afiliados/bienvenido/}+${id}">Cancelar</a>
									</div>
				
									</div>

								</form>
								
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>

</body>
<script th:src="@{/js/rfc.js}"></script>
</html>